body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.container {
	width: 50%;
	margin: 25px auto;
	max-width: 600px;
	background-color: #495867;
	border-radius: 12px;
	padding: 10px;
	margin: 25px auto;
	min-width: 300px;
}

.screen {
	border-radius: 10px;
	padding: 12px;
	background-color: #f7f7ff;
	margin:0;
	text-align: right;
	font-size: 23px;
}

.total {
	color: #f7f7ff;
	text-align:right;
	width: 100%;
	border-bottom: 3px solid #fe5f55;
	font-size: 40px;
}

.buttonContainer {
	display: flex;
	flex-flow: row wrap; 
	justify-content: space-between;
}

.buttonContainer:nth-of-type(5) button:nth-of-type(1) {
	flex-grow: 3;
	margin-right: 2.5%;
}

.buttonContainer:nth-of-type(6) button {
	width: 48.5%;
	padding: 20px;
}

.buttonContainer:nth-of-type(6) button:nth-of-type(1) {
	background-color: #fe5f55;
	-webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.buttonContainer:nth-of-type(6) button:nth-of-type(1):hover{
	background-color: #dd5349;
	-webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.numButton {
	flex-basis: 23%;
	padding: 10px;
	border-radius: 12px;
	border: none;
	font-size: 20px;
	margin: 5px 0px;
	font-family: 'Nunito', sans-serif;
	background-color: #f7f7ff;
	-webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.opButton {
	width:23%;
	padding: 10px;
	border-radius: 12px;
	border: none;
	font-size: 20px;
	margin: 5px 0px;
	font-family: 'Nunito', sans-serif;
	background-color: #577399;
	-webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.numButton:hover, .opButton:hover {
	background-color: #bdd5ea;
	-webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.numButton:focus, .opButton:focus{
	outline:none;
}
